:root {
  --font-size-base: 32px;
  --line-height-base: 1.5;
  --font-weight--base: 200;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --color-base: #ffffff;
  --color-link: #b4b9e8;
  --bg-base: #3e4b91;
  --h2-color: #e5e5e5;
  --h2-font-size: 12px;
  --h2-line-height: 16px;
  --black: #2b084e;
}

html, body {
  min-height: 100%;
  
}
body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight--base);
  color: var(--color-base);
  background: var(--bg-base);
}
.container {
  display: flex;
  height: 100vh; 
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
}
.logo {
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 40px;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.social {
  margin-bottom: 40px;
  padding: 10px 0;
  line-height: 48px;
  color: var(--color-link);
  text-decoration: none;
  text-align: center;
}
.social__icon {
  opacity: .5;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;
}
.social__title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight--base);
}

.social__title:hover {
  color: red;
}

.meeting {
  margin: 0 auto;
}

.meeting__title {
  margin: 0;
  margin-left: 20px;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--h2-color);
}

.meeting__block {
  max-width: 416px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 8px;
  padding: 16px;
  color: var(--black);
  background-color: var(--color-base);
  border-radius: 8px;
  box-sizing: border-box;
}

.meeting__meta-wrapper {
  display: flex;
  justify-content: space-between;
}

.meeting__meta {
  width: 112px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.meeting__meta:last-child{
  text-align: right;
}

.meeting__descr {
  margin: 0;
  margin-top: 24px;
  color: var(--black);
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.meeting__descr:last-child {
  margin-top: 32px;
}

@media (max-width: 750px) {
  .meeting__title {
    margin-left: 8px;
  }

  .meeting__block {
    min-height: 100px;
    padding: 8px;
  }

  .meeting__meta {
    font-size: 12px;
  }

  .meeting__descr {
    margin-top: 2.8%;
    font-size: 12px;
    line-height: 16px;
  }

  .meeting__descr:last-child {
    margin-top: 5.3%;
  }
}