:root {
  --font-size-base: 32px;
  --line-height-base: 1.5;
  --font-weight--base: 200;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --color-base: #ffffff;
  --color-link: #b4b9e8;
  --bg-base: #3e4b91;
}

html, body {
  min-height: 100%;
  
}
body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight--base);
  color: var(--color-base);
  background-color: var(--bg-base);
}
.container {
  display: flex;
  height: 100vh; 
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.logo {
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
}
.logo img {
  max-width: 100%;
  height: auto;
}
.social {
  padding: 10px 0;
  line-height: 48px;
  color: var(--color-link);
  text-decoration: none;
  text-align: center;
}
.social__icon {
  opacity: .5;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;
}
.social__title {
  font-size: 32px;
  font-weight: 200;
}

.social__title:hover {
  color: #fedc66;
}
